:root {
    --color-buton: rgba(33, 150, 243, 1);
    --color-text: rgba(117, 117, 117, 1);
    --color-minitext: rgba(255, 255, 255, 1);
    --color-mix: rgba(245, 244, 250, 1);
    --anim: 250ms ease-in;
}